<table>
  <tr>
    <td class="top" colspan="2">
      {{cube-flat-slice cubies=topCubies face=topFace}}
    </td>
  </tr>
  <tr>
    <td class="front">
      {{cube-flat-slice cubies=frontCubies face=frontFace}}
    </td>
    <td class="right">
      {{cube-flat-slice cubies=rightCubies face=rightFace}}
    </td>
  </tr>
</table>