<table class="{{unbound face.side}}" cellspacing="0">
  <tbody>
  {{#each row in cubies}}
    <tr>
      {{#each cubie in row}}
        <td>
        {{cubie-flat cubie=cubie faces=cubie.faces face_id=face.id}}
        </td>
      {{/each}}
    </tr>
  {{/each}}
  </tbody>
</table>