<table class="{{unbound face.side}}" cellspacing="0">
  <tbody>
  {{#each cubies as |row|}}
    <tr>
      {{#each row as |cubie|}}
        <td>
        {{cubie-flat cubie=cubie faces=cubie.faces face_id=face.id}}
        </td>
      {{/each}}
    </tr>
  {{/each}}
  </tbody>
</table>