<table class="{{unbound face.side}}" cellspacing="0">
  <tbody>
  {{#group}}
  {{#each row in cubies}}
    <tr>
      {{#each cubie in row}}
        <td>
        {{cubie-flat cubie=cubie face=face}}
        </td>
      {{/each}}
    </tr>
  {{/each}}
  {{/group}}
  </tbody>
</table>