<table {{bind-attr class="face.side"}}>
  <tbody>
  {{#each row in cubies}}
    <tr>
      {{#each cubie in row}}
        <td>
        {{flat-cubie cubie=cubie face=face}}
        </td>
      {{/each}}
    </tr>
  {{/each}}
  </tbody>
</table>