<div {{bind-attr class=":layer :rotateY rotationDirection rotationSteps"}}>
  {{#each section in layer.sections}}
    <div class="section">
      {{section-component section=section}}
    </div>
  {{/each}}
</div>