/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/modules/_cubie.scss */
div[class*=" section-1"] {
  width: 100%;
  height: 48px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 72px 0 48px 50%;
  -moz-transform-origin: 72px 0 48px 50%;
  -ms-transform-origin: 72px 0 48px 50%;
  -o-transform-origin: 72px 0 48px 50%;
  transform-origin: 72px 0 48px 50%;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform: translateZ(24px);
  -moz-transform: translateZ(24px);
  -ms-transform: translateZ(24px);
  -o-transform: translateZ(24px);
  transform: translateZ(24px);
}
/* line 2, ../sass/partials/_rotations.scss */
div[class*=" section-1"].show-front {
  -webkit-transform: translateZ(24px) rotateY(0deg);
  -moz-transform: translateZ(24px) rotateY(0deg);
  -ms-transform: translateZ(24px) rotateY(0deg);
  -o-transform: translateZ(24px) rotateY(0deg);
  transform: translateZ(24px) rotateY(0deg);
}
/* line 5, ../sass/partials/_rotations.scss */
div[class*=" section-1"].show-back {
  -webkit-transform: translateZ(24px) rotateY(-180deg);
  -moz-transform: translateZ(24px) rotateY(-180deg);
  -ms-transform: translateZ(24px) rotateY(-180deg);
  -o-transform: translateZ(24px) rotateY(-180deg);
  transform: translateZ(24px) rotateY(-180deg);
}
/* line 8, ../sass/partials/_rotations.scss */
div[class*=" section-1"].show-right {
  -webkit-transform: translateZ(24px) rotateY(-90deg);
  -moz-transform: translateZ(24px) rotateY(-90deg);
  -ms-transform: translateZ(24px) rotateY(-90deg);
  -o-transform: translateZ(24px) rotateY(-90deg);
  transform: translateZ(24px) rotateY(-90deg);
}
/* line 11, ../sass/partials/_rotations.scss */
div[class*=" section-1"].show-left {
  -webkit-transform: translateZ(24px) rotateY(90deg);
  -moz-transform: translateZ(24px) rotateY(90deg);
  -ms-transform: translateZ(24px) rotateY(90deg);
  -o-transform: translateZ(24px) rotateY(90deg);
  transform: translateZ(24px) rotateY(90deg);
}
/* line 14, ../sass/partials/_rotations.scss */
div[class*=" section-1"].show-top {
  -webkit-transform: translateZ(24px) rotateX(-90deg);
  -moz-transform: translateZ(24px) rotateX(-90deg);
  -ms-transform: translateZ(24px) rotateX(-90deg);
  -o-transform: translateZ(24px) rotateX(-90deg);
  transform: translateZ(24px) rotateX(-90deg);
}
/* line 17, ../sass/partials/_rotations.scss */
div[class*=" section-1"].show-bottom {
  -webkit-transform: translateZ(24px) rotateX(90deg);
  -moz-transform: translateZ(24px) rotateX(90deg);
  -ms-transform: translateZ(24px) rotateX(90deg);
  -o-transform: translateZ(24px) rotateX(90deg);
  transform: translateZ(24px) rotateX(90deg);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-1"] .cubie[class*=" row-1"][class*=" col-1"] {
  -webkit-transform: translateX(0) translateY(0) translateZ(0);
  -moz-transform: translateX(0) translateY(0) translateZ(0);
  -ms-transform: translateX(0) translateY(0) translateZ(0);
  -o-transform: translateX(0) translateY(0) translateZ(0);
  transform: translateX(0) translateY(0) translateZ(0);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-1"] .cubie[class*=" row-1"][class*=" col-2"] {
  -webkit-transform: translateX(48px) translateY(0) translateZ(0);
  -moz-transform: translateX(48px) translateY(0) translateZ(0);
  -ms-transform: translateX(48px) translateY(0) translateZ(0);
  -o-transform: translateX(48px) translateY(0) translateZ(0);
  transform: translateX(48px) translateY(0) translateZ(0);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-1"] .cubie[class*=" row-1"][class*=" col-3"] {
  -webkit-transform: translateX(96px) translateY(0) translateZ(0);
  -moz-transform: translateX(96px) translateY(0) translateZ(0);
  -ms-transform: translateX(96px) translateY(0) translateZ(0);
  -o-transform: translateX(96px) translateY(0) translateZ(0);
  transform: translateX(96px) translateY(0) translateZ(0);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-1"] .cubie[class*=" row-2"][class*=" col-1"] {
  -webkit-transform: translateX(0) translateY(0) translateZ(48px);
  -moz-transform: translateX(0) translateY(0) translateZ(48px);
  -ms-transform: translateX(0) translateY(0) translateZ(48px);
  -o-transform: translateX(0) translateY(0) translateZ(48px);
  transform: translateX(0) translateY(0) translateZ(48px);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-1"] .cubie[class*=" row-2"][class*=" col-2"] {
  -webkit-transform: translateX(48px) translateY(0) translateZ(48px);
  -moz-transform: translateX(48px) translateY(0) translateZ(48px);
  -ms-transform: translateX(48px) translateY(0) translateZ(48px);
  -o-transform: translateX(48px) translateY(0) translateZ(48px);
  transform: translateX(48px) translateY(0) translateZ(48px);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-1"] .cubie[class*=" row-2"][class*=" col-3"] {
  -webkit-transform: translateX(96px) translateY(0) translateZ(48px);
  -moz-transform: translateX(96px) translateY(0) translateZ(48px);
  -ms-transform: translateX(96px) translateY(0) translateZ(48px);
  -o-transform: translateX(96px) translateY(0) translateZ(48px);
  transform: translateX(96px) translateY(0) translateZ(48px);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-1"] .cubie[class*=" row-3"][class*=" col-1"] {
  -webkit-transform: translateX(0) translateY(0) translateZ(96px);
  -moz-transform: translateX(0) translateY(0) translateZ(96px);
  -ms-transform: translateX(0) translateY(0) translateZ(96px);
  -o-transform: translateX(0) translateY(0) translateZ(96px);
  transform: translateX(0) translateY(0) translateZ(96px);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-1"] .cubie[class*=" row-3"][class*=" col-2"] {
  -webkit-transform: translateX(48px) translateY(0) translateZ(96px);
  -moz-transform: translateX(48px) translateY(0) translateZ(96px);
  -ms-transform: translateX(48px) translateY(0) translateZ(96px);
  -o-transform: translateX(48px) translateY(0) translateZ(96px);
  transform: translateX(48px) translateY(0) translateZ(96px);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-1"] .cubie[class*=" row-3"][class*=" col-3"] {
  -webkit-transform: translateX(96px) translateY(0) translateZ(96px);
  -moz-transform: translateX(96px) translateY(0) translateZ(96px);
  -ms-transform: translateX(96px) translateY(0) translateZ(96px);
  -o-transform: translateX(96px) translateY(0) translateZ(96px);
  transform: translateX(96px) translateY(0) translateZ(96px);
}

/* line 3, ../sass/modules/_cubie.scss */
div[class*=" section-2"] {
  width: 100%;
  height: 48px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 72px 0 48px 50%;
  -moz-transform-origin: 72px 0 48px 50%;
  -ms-transform-origin: 72px 0 48px 50%;
  -o-transform-origin: 72px 0 48px 50%;
  transform-origin: 72px 0 48px 50%;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform: translateZ(24px);
  -moz-transform: translateZ(24px);
  -ms-transform: translateZ(24px);
  -o-transform: translateZ(24px);
  transform: translateZ(24px);
}
/* line 2, ../sass/partials/_rotations.scss */
div[class*=" section-2"].show-front {
  -webkit-transform: translateZ(24px) rotateY(0deg);
  -moz-transform: translateZ(24px) rotateY(0deg);
  -ms-transform: translateZ(24px) rotateY(0deg);
  -o-transform: translateZ(24px) rotateY(0deg);
  transform: translateZ(24px) rotateY(0deg);
}
/* line 5, ../sass/partials/_rotations.scss */
div[class*=" section-2"].show-back {
  -webkit-transform: translateZ(24px) rotateY(-180deg);
  -moz-transform: translateZ(24px) rotateY(-180deg);
  -ms-transform: translateZ(24px) rotateY(-180deg);
  -o-transform: translateZ(24px) rotateY(-180deg);
  transform: translateZ(24px) rotateY(-180deg);
}
/* line 8, ../sass/partials/_rotations.scss */
div[class*=" section-2"].show-right {
  -webkit-transform: translateZ(24px) rotateY(-90deg);
  -moz-transform: translateZ(24px) rotateY(-90deg);
  -ms-transform: translateZ(24px) rotateY(-90deg);
  -o-transform: translateZ(24px) rotateY(-90deg);
  transform: translateZ(24px) rotateY(-90deg);
}
/* line 11, ../sass/partials/_rotations.scss */
div[class*=" section-2"].show-left {
  -webkit-transform: translateZ(24px) rotateY(90deg);
  -moz-transform: translateZ(24px) rotateY(90deg);
  -ms-transform: translateZ(24px) rotateY(90deg);
  -o-transform: translateZ(24px) rotateY(90deg);
  transform: translateZ(24px) rotateY(90deg);
}
/* line 14, ../sass/partials/_rotations.scss */
div[class*=" section-2"].show-top {
  -webkit-transform: translateZ(24px) rotateX(-90deg);
  -moz-transform: translateZ(24px) rotateX(-90deg);
  -ms-transform: translateZ(24px) rotateX(-90deg);
  -o-transform: translateZ(24px) rotateX(-90deg);
  transform: translateZ(24px) rotateX(-90deg);
}
/* line 17, ../sass/partials/_rotations.scss */
div[class*=" section-2"].show-bottom {
  -webkit-transform: translateZ(24px) rotateX(90deg);
  -moz-transform: translateZ(24px) rotateX(90deg);
  -ms-transform: translateZ(24px) rotateX(90deg);
  -o-transform: translateZ(24px) rotateX(90deg);
  transform: translateZ(24px) rotateX(90deg);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-2"] .cubie[class*=" row-1"][class*=" col-1"] {
  -webkit-transform: translateX(0) translateY(48px) translateZ(0);
  -moz-transform: translateX(0) translateY(48px) translateZ(0);
  -ms-transform: translateX(0) translateY(48px) translateZ(0);
  -o-transform: translateX(0) translateY(48px) translateZ(0);
  transform: translateX(0) translateY(48px) translateZ(0);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-2"] .cubie[class*=" row-1"][class*=" col-2"] {
  -webkit-transform: translateX(48px) translateY(48px) translateZ(0);
  -moz-transform: translateX(48px) translateY(48px) translateZ(0);
  -ms-transform: translateX(48px) translateY(48px) translateZ(0);
  -o-transform: translateX(48px) translateY(48px) translateZ(0);
  transform: translateX(48px) translateY(48px) translateZ(0);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-2"] .cubie[class*=" row-1"][class*=" col-3"] {
  -webkit-transform: translateX(96px) translateY(48px) translateZ(0);
  -moz-transform: translateX(96px) translateY(48px) translateZ(0);
  -ms-transform: translateX(96px) translateY(48px) translateZ(0);
  -o-transform: translateX(96px) translateY(48px) translateZ(0);
  transform: translateX(96px) translateY(48px) translateZ(0);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-2"] .cubie[class*=" row-2"][class*=" col-1"] {
  -webkit-transform: translateX(0) translateY(48px) translateZ(48px);
  -moz-transform: translateX(0) translateY(48px) translateZ(48px);
  -ms-transform: translateX(0) translateY(48px) translateZ(48px);
  -o-transform: translateX(0) translateY(48px) translateZ(48px);
  transform: translateX(0) translateY(48px) translateZ(48px);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-2"] .cubie[class*=" row-2"][class*=" col-2"] {
  -webkit-transform: translateX(48px) translateY(48px) translateZ(48px);
  -moz-transform: translateX(48px) translateY(48px) translateZ(48px);
  -ms-transform: translateX(48px) translateY(48px) translateZ(48px);
  -o-transform: translateX(48px) translateY(48px) translateZ(48px);
  transform: translateX(48px) translateY(48px) translateZ(48px);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-2"] .cubie[class*=" row-2"][class*=" col-3"] {
  -webkit-transform: translateX(96px) translateY(48px) translateZ(48px);
  -moz-transform: translateX(96px) translateY(48px) translateZ(48px);
  -ms-transform: translateX(96px) translateY(48px) translateZ(48px);
  -o-transform: translateX(96px) translateY(48px) translateZ(48px);
  transform: translateX(96px) translateY(48px) translateZ(48px);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-2"] .cubie[class*=" row-3"][class*=" col-1"] {
  -webkit-transform: translateX(0) translateY(48px) translateZ(96px);
  -moz-transform: translateX(0) translateY(48px) translateZ(96px);
  -ms-transform: translateX(0) translateY(48px) translateZ(96px);
  -o-transform: translateX(0) translateY(48px) translateZ(96px);
  transform: translateX(0) translateY(48px) translateZ(96px);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-2"] .cubie[class*=" row-3"][class*=" col-2"] {
  -webkit-transform: translateX(48px) translateY(48px) translateZ(96px);
  -moz-transform: translateX(48px) translateY(48px) translateZ(96px);
  -ms-transform: translateX(48px) translateY(48px) translateZ(96px);
  -o-transform: translateX(48px) translateY(48px) translateZ(96px);
  transform: translateX(48px) translateY(48px) translateZ(96px);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-2"] .cubie[class*=" row-3"][class*=" col-3"] {
  -webkit-transform: translateX(96px) translateY(48px) translateZ(96px);
  -moz-transform: translateX(96px) translateY(48px) translateZ(96px);
  -ms-transform: translateX(96px) translateY(48px) translateZ(96px);
  -o-transform: translateX(96px) translateY(48px) translateZ(96px);
  transform: translateX(96px) translateY(48px) translateZ(96px);
}

/* line 3, ../sass/modules/_cubie.scss */
div[class*=" section-3"] {
  width: 100%;
  height: 48px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 72px 0 48px 50%;
  -moz-transform-origin: 72px 0 48px 50%;
  -ms-transform-origin: 72px 0 48px 50%;
  -o-transform-origin: 72px 0 48px 50%;
  transform-origin: 72px 0 48px 50%;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform: translateZ(24px);
  -moz-transform: translateZ(24px);
  -ms-transform: translateZ(24px);
  -o-transform: translateZ(24px);
  transform: translateZ(24px);
}
/* line 2, ../sass/partials/_rotations.scss */
div[class*=" section-3"].show-front {
  -webkit-transform: translateZ(24px) rotateY(0deg);
  -moz-transform: translateZ(24px) rotateY(0deg);
  -ms-transform: translateZ(24px) rotateY(0deg);
  -o-transform: translateZ(24px) rotateY(0deg);
  transform: translateZ(24px) rotateY(0deg);
}
/* line 5, ../sass/partials/_rotations.scss */
div[class*=" section-3"].show-back {
  -webkit-transform: translateZ(24px) rotateY(-180deg);
  -moz-transform: translateZ(24px) rotateY(-180deg);
  -ms-transform: translateZ(24px) rotateY(-180deg);
  -o-transform: translateZ(24px) rotateY(-180deg);
  transform: translateZ(24px) rotateY(-180deg);
}
/* line 8, ../sass/partials/_rotations.scss */
div[class*=" section-3"].show-right {
  -webkit-transform: translateZ(24px) rotateY(-90deg);
  -moz-transform: translateZ(24px) rotateY(-90deg);
  -ms-transform: translateZ(24px) rotateY(-90deg);
  -o-transform: translateZ(24px) rotateY(-90deg);
  transform: translateZ(24px) rotateY(-90deg);
}
/* line 11, ../sass/partials/_rotations.scss */
div[class*=" section-3"].show-left {
  -webkit-transform: translateZ(24px) rotateY(90deg);
  -moz-transform: translateZ(24px) rotateY(90deg);
  -ms-transform: translateZ(24px) rotateY(90deg);
  -o-transform: translateZ(24px) rotateY(90deg);
  transform: translateZ(24px) rotateY(90deg);
}
/* line 14, ../sass/partials/_rotations.scss */
div[class*=" section-3"].show-top {
  -webkit-transform: translateZ(24px) rotateX(-90deg);
  -moz-transform: translateZ(24px) rotateX(-90deg);
  -ms-transform: translateZ(24px) rotateX(-90deg);
  -o-transform: translateZ(24px) rotateX(-90deg);
  transform: translateZ(24px) rotateX(-90deg);
}
/* line 17, ../sass/partials/_rotations.scss */
div[class*=" section-3"].show-bottom {
  -webkit-transform: translateZ(24px) rotateX(90deg);
  -moz-transform: translateZ(24px) rotateX(90deg);
  -ms-transform: translateZ(24px) rotateX(90deg);
  -o-transform: translateZ(24px) rotateX(90deg);
  transform: translateZ(24px) rotateX(90deg);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-3"] .cubie[class*=" row-1"][class*=" col-1"] {
  -webkit-transform: translateX(0) translateY(96px) translateZ(0);
  -moz-transform: translateX(0) translateY(96px) translateZ(0);
  -ms-transform: translateX(0) translateY(96px) translateZ(0);
  -o-transform: translateX(0) translateY(96px) translateZ(0);
  transform: translateX(0) translateY(96px) translateZ(0);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-3"] .cubie[class*=" row-1"][class*=" col-2"] {
  -webkit-transform: translateX(48px) translateY(96px) translateZ(0);
  -moz-transform: translateX(48px) translateY(96px) translateZ(0);
  -ms-transform: translateX(48px) translateY(96px) translateZ(0);
  -o-transform: translateX(48px) translateY(96px) translateZ(0);
  transform: translateX(48px) translateY(96px) translateZ(0);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-3"] .cubie[class*=" row-1"][class*=" col-3"] {
  -webkit-transform: translateX(96px) translateY(96px) translateZ(0);
  -moz-transform: translateX(96px) translateY(96px) translateZ(0);
  -ms-transform: translateX(96px) translateY(96px) translateZ(0);
  -o-transform: translateX(96px) translateY(96px) translateZ(0);
  transform: translateX(96px) translateY(96px) translateZ(0);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-3"] .cubie[class*=" row-2"][class*=" col-1"] {
  -webkit-transform: translateX(0) translateY(96px) translateZ(48px);
  -moz-transform: translateX(0) translateY(96px) translateZ(48px);
  -ms-transform: translateX(0) translateY(96px) translateZ(48px);
  -o-transform: translateX(0) translateY(96px) translateZ(48px);
  transform: translateX(0) translateY(96px) translateZ(48px);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-3"] .cubie[class*=" row-2"][class*=" col-2"] {
  -webkit-transform: translateX(48px) translateY(96px) translateZ(48px);
  -moz-transform: translateX(48px) translateY(96px) translateZ(48px);
  -ms-transform: translateX(48px) translateY(96px) translateZ(48px);
  -o-transform: translateX(48px) translateY(96px) translateZ(48px);
  transform: translateX(48px) translateY(96px) translateZ(48px);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-3"] .cubie[class*=" row-2"][class*=" col-3"] {
  -webkit-transform: translateX(96px) translateY(96px) translateZ(48px);
  -moz-transform: translateX(96px) translateY(96px) translateZ(48px);
  -ms-transform: translateX(96px) translateY(96px) translateZ(48px);
  -o-transform: translateX(96px) translateY(96px) translateZ(48px);
  transform: translateX(96px) translateY(96px) translateZ(48px);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-3"] .cubie[class*=" row-3"][class*=" col-1"] {
  -webkit-transform: translateX(0) translateY(96px) translateZ(96px);
  -moz-transform: translateX(0) translateY(96px) translateZ(96px);
  -ms-transform: translateX(0) translateY(96px) translateZ(96px);
  -o-transform: translateX(0) translateY(96px) translateZ(96px);
  transform: translateX(0) translateY(96px) translateZ(96px);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-3"] .cubie[class*=" row-3"][class*=" col-2"] {
  -webkit-transform: translateX(48px) translateY(96px) translateZ(96px);
  -moz-transform: translateX(48px) translateY(96px) translateZ(96px);
  -ms-transform: translateX(48px) translateY(96px) translateZ(96px);
  -o-transform: translateX(48px) translateY(96px) translateZ(96px);
  transform: translateX(48px) translateY(96px) translateZ(96px);
}
/* line 18, ../sass/modules/_cubie.scss */
div[class*=" section-3"] .cubie[class*=" row-3"][class*=" col-3"] {
  -webkit-transform: translateX(96px) translateY(96px) translateZ(96px);
  -moz-transform: translateX(96px) translateY(96px) translateZ(96px);
  -ms-transform: translateX(96px) translateY(96px) translateZ(96px);
  -o-transform: translateX(96px) translateY(96px) translateZ(96px);
  transform: translateX(96px) translateY(96px) translateZ(96px);
}

/* line 31, ../sass/modules/_cubie.scss */
.cubie {
  width: 48px;
  height: 48px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 37, ../sass/modules/_cubie.scss */
.cubie .figure {
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  border: 1px solid black;
  line-height: 48px;
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-align: center;
  /* background-color */
  /* placement */
}
/* line 51, ../sass/modules/_cubie.scss */
.cubie .figure.orange {
  background-color: orange;
}
/* line 52, ../sass/modules/_cubie.scss */
.cubie .figure.green {
  background-color: green;
}
/* line 53, ../sass/modules/_cubie.scss */
.cubie .figure.red {
  background-color: red;
}
/* line 54, ../sass/modules/_cubie.scss */
.cubie .figure.yellow {
  background-color: yellow;
}
/* line 55, ../sass/modules/_cubie.scss */
.cubie .figure.white {
  background-color: white;
  color: #000;
}
/* line 56, ../sass/modules/_cubie.scss */
.cubie .figure.blue {
  background-color: blue;
}
/* line 59, ../sass/modules/_cubie.scss */
.cubie .figure.front {
  -webkit-transform: rotateY(0deg) translateZ(24px);
  -moz-transform: rotateY(0deg) translateZ(24px);
  -ms-transform: rotateY(0deg) translateZ(24px);
  -o-transform: rotateY(0deg) translateZ(24px);
  transform: rotateY(0deg) translateZ(24px);
}
/* line 60, ../sass/modules/_cubie.scss */
.cubie .figure.left {
  -webkit-transform: rotateY(-90deg) translateZ(24px);
  -moz-transform: rotateY(-90deg) translateZ(24px);
  -ms-transform: rotateY(-90deg) translateZ(24px);
  -o-transform: rotateY(-90deg) translateZ(24px);
  transform: rotateY(-90deg) translateZ(24px);
}
/* line 61, ../sass/modules/_cubie.scss */
.cubie .figure.back {
  -webkit-transform: rotateX(180deg) translateZ(24px);
  -moz-transform: rotateX(180deg) translateZ(24px);
  -ms-transform: rotateX(180deg) translateZ(24px);
  -o-transform: rotateX(180deg) translateZ(24px);
  transform: rotateX(180deg) translateZ(24px);
}
/* line 62, ../sass/modules/_cubie.scss */
.cubie .figure.right {
  -webkit-transform: rotateY(90deg) translateZ(24px);
  -moz-transform: rotateY(90deg) translateZ(24px);
  -ms-transform: rotateY(90deg) translateZ(24px);
  -o-transform: rotateY(90deg) translateZ(24px);
  transform: rotateY(90deg) translateZ(24px);
}
/* line 63, ../sass/modules/_cubie.scss */
.cubie .figure.top {
  -webkit-transform: rotateX(90deg) translateZ(24px);
  -moz-transform: rotateX(90deg) translateZ(24px);
  -ms-transform: rotateX(90deg) translateZ(24px);
  -o-transform: rotateX(90deg) translateZ(24px);
  transform: rotateX(90deg) translateZ(24px);
}
/* line 64, ../sass/modules/_cubie.scss */
.cubie .figure.bottom {
  -webkit-transform: rotateX(-90deg) translateZ(24px);
  -moz-transform: rotateX(-90deg) translateZ(24px);
  -ms-transform: rotateX(-90deg) translateZ(24px);
  -o-transform: rotateX(-90deg) translateZ(24px);
  transform: rotateX(-90deg) translateZ(24px);
}

/* line 12, ../sass/app.scss */
html {
  height: 100%;
}

/* line 16, ../sass/app.scss */
body {
  height: 100%;
  margin: 0;
  background-color: #93cede;
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, #93cede), color-stop(41%, #75bdd1), color-stop(100%, #49a5bf));
  background-image: -webkit-radial-gradient(center, ellipse cover, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  background-image: -moz-radial-gradient(center, ellipse cover, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  background-image: -o-radial-gradient(center, ellipse cover, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  background-image: radial-gradient(center, ellipse cover, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  text-align: center;
  font-size: 275%;
}

/* line 26, ../sass/app.scss */
.container {
  width: 144px;
  height: 144px;
  position: relative;
  margin: 50px auto;
  top: 100px;
  -webkit-perspective: 2000;
  -moz-perspective: 2000;
  -ms-perspective: 2000;
  -o-perspective: 2000;
  perspective: 2000;
}

/* line 35, ../sass/app.scss */
#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-origin: 72px 72px 72px 50%;
  -moz-transform-origin: 72px 72px 72px 50%;
  -ms-transform-origin: 72px 72px 72px 50%;
  -o-transform-origin: 72px 72px 72px 50%;
  transform-origin: 72px 72px 72px 50%;
  -webkit-transform: translateZ(-288px);
  -moz-transform: translateZ(-288px);
  -ms-transform: translateZ(-288px);
  -o-transform: translateZ(-288px);
  transform: translateZ(-288px);
}
/* line 2, ../sass/partials/_rotations.scss */
#cube.show-front {
  -webkit-transform: translateZ(-288px) rotateY(0deg);
  -moz-transform: translateZ(-288px) rotateY(0deg);
  -ms-transform: translateZ(-288px) rotateY(0deg);
  -o-transform: translateZ(-288px) rotateY(0deg);
  transform: translateZ(-288px) rotateY(0deg);
}
/* line 5, ../sass/partials/_rotations.scss */
#cube.show-back {
  -webkit-transform: translateZ(-288px) rotateY(-180deg);
  -moz-transform: translateZ(-288px) rotateY(-180deg);
  -ms-transform: translateZ(-288px) rotateY(-180deg);
  -o-transform: translateZ(-288px) rotateY(-180deg);
  transform: translateZ(-288px) rotateY(-180deg);
}
/* line 8, ../sass/partials/_rotations.scss */
#cube.show-right {
  -webkit-transform: translateZ(-288px) rotateY(-90deg);
  -moz-transform: translateZ(-288px) rotateY(-90deg);
  -ms-transform: translateZ(-288px) rotateY(-90deg);
  -o-transform: translateZ(-288px) rotateY(-90deg);
  transform: translateZ(-288px) rotateY(-90deg);
}
/* line 11, ../sass/partials/_rotations.scss */
#cube.show-left {
  -webkit-transform: translateZ(-288px) rotateY(90deg);
  -moz-transform: translateZ(-288px) rotateY(90deg);
  -ms-transform: translateZ(-288px) rotateY(90deg);
  -o-transform: translateZ(-288px) rotateY(90deg);
  transform: translateZ(-288px) rotateY(90deg);
}
/* line 14, ../sass/partials/_rotations.scss */
#cube.show-top {
  -webkit-transform: translateZ(-288px) rotateX(-90deg);
  -moz-transform: translateZ(-288px) rotateX(-90deg);
  -ms-transform: translateZ(-288px) rotateX(-90deg);
  -o-transform: translateZ(-288px) rotateX(-90deg);
  transform: translateZ(-288px) rotateX(-90deg);
}
/* line 17, ../sass/partials/_rotations.scss */
#cube.show-bottom {
  -webkit-transform: translateZ(-288px) rotateX(90deg);
  -moz-transform: translateZ(-288px) rotateX(90deg);
  -ms-transform: translateZ(-288px) rotateX(90deg);
  -o-transform: translateZ(-288px) rotateX(90deg);
  transform: translateZ(-288px) rotateX(90deg);
}
