/* line 17, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-1"] .cubie[class*=" row-1"][class*=" col-1"] {
  -webkit-transform: translateX(-24.5px) translateY(-24.5px) translateZ(-24.5px);
  -moz-transform: translateX(-24.5px) translateY(-24.5px) translateZ(-24.5px);
  -ms-transform: translateX(-24.5px) translateY(-24.5px) translateZ(-24.5px);
  -o-transform: translateX(-24.5px) translateY(-24.5px) translateZ(-24.5px);
  transform: translateX(-24.5px) translateY(-24.5px) translateZ(-24.5px);
}
/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-1"] .cubie[class*=" row-1"][class*=" col-2"] {
  -webkit-transform: translateX(0) translateY(-24.5px) translateZ(-24.5px);
  -moz-transform: translateX(0) translateY(-24.5px) translateZ(-24.5px);
  -ms-transform: translateX(0) translateY(-24.5px) translateZ(-24.5px);
  -o-transform: translateX(0) translateY(-24.5px) translateZ(-24.5px);
  transform: translateX(0) translateY(-24.5px) translateZ(-24.5px);
}
/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-1"] .cubie[class*=" row-1"][class*=" col-3"] {
  -webkit-transform: translateX(24.5px) translateY(-24.5px) translateZ(-24.5px);
  -moz-transform: translateX(24.5px) translateY(-24.5px) translateZ(-24.5px);
  -ms-transform: translateX(24.5px) translateY(-24.5px) translateZ(-24.5px);
  -o-transform: translateX(24.5px) translateY(-24.5px) translateZ(-24.5px);
  transform: translateX(24.5px) translateY(-24.5px) translateZ(-24.5px);
}
/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-1"] .cubie[class*=" row-2"][class*=" col-1"] {
  -webkit-transform: translateX(-24.5px) translateY(-24.5px) translateZ(0);
  -moz-transform: translateX(-24.5px) translateY(-24.5px) translateZ(0);
  -ms-transform: translateX(-24.5px) translateY(-24.5px) translateZ(0);
  -o-transform: translateX(-24.5px) translateY(-24.5px) translateZ(0);
  transform: translateX(-24.5px) translateY(-24.5px) translateZ(0);
}
/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-1"] .cubie[class*=" row-2"][class*=" col-2"] {
  -webkit-transform: translateX(0) translateY(-24.5px) translateZ(0);
  -moz-transform: translateX(0) translateY(-24.5px) translateZ(0);
  -ms-transform: translateX(0) translateY(-24.5px) translateZ(0);
  -o-transform: translateX(0) translateY(-24.5px) translateZ(0);
  transform: translateX(0) translateY(-24.5px) translateZ(0);
}
/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-1"] .cubie[class*=" row-2"][class*=" col-3"] {
  -webkit-transform: translateX(24.5px) translateY(-24.5px) translateZ(0);
  -moz-transform: translateX(24.5px) translateY(-24.5px) translateZ(0);
  -ms-transform: translateX(24.5px) translateY(-24.5px) translateZ(0);
  -o-transform: translateX(24.5px) translateY(-24.5px) translateZ(0);
  transform: translateX(24.5px) translateY(-24.5px) translateZ(0);
}
/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-1"] .cubie[class*=" row-3"][class*=" col-1"] {
  -webkit-transform: translateX(-24.5px) translateY(-24.5px) translateZ(24.5px);
  -moz-transform: translateX(-24.5px) translateY(-24.5px) translateZ(24.5px);
  -ms-transform: translateX(-24.5px) translateY(-24.5px) translateZ(24.5px);
  -o-transform: translateX(-24.5px) translateY(-24.5px) translateZ(24.5px);
  transform: translateX(-24.5px) translateY(-24.5px) translateZ(24.5px);
}
/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-1"] .cubie[class*=" row-3"][class*=" col-2"] {
  -webkit-transform: translateX(0) translateY(-24.5px) translateZ(24.5px);
  -moz-transform: translateX(0) translateY(-24.5px) translateZ(24.5px);
  -ms-transform: translateX(0) translateY(-24.5px) translateZ(24.5px);
  -o-transform: translateX(0) translateY(-24.5px) translateZ(24.5px);
  transform: translateX(0) translateY(-24.5px) translateZ(24.5px);
}
/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-1"] .cubie[class*=" row-3"][class*=" col-3"] {
  -webkit-transform: translateX(24.5px) translateY(-24.5px) translateZ(24.5px);
  -moz-transform: translateX(24.5px) translateY(-24.5px) translateZ(24.5px);
  -ms-transform: translateX(24.5px) translateY(-24.5px) translateZ(24.5px);
  -o-transform: translateX(24.5px) translateY(-24.5px) translateZ(24.5px);
  transform: translateX(24.5px) translateY(-24.5px) translateZ(24.5px);
}

/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-2"] .cubie[class*=" row-1"][class*=" col-1"] {
  -webkit-transform: translateX(-24.5px) translateY(0) translateZ(-24.5px);
  -moz-transform: translateX(-24.5px) translateY(0) translateZ(-24.5px);
  -ms-transform: translateX(-24.5px) translateY(0) translateZ(-24.5px);
  -o-transform: translateX(-24.5px) translateY(0) translateZ(-24.5px);
  transform: translateX(-24.5px) translateY(0) translateZ(-24.5px);
}
/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-2"] .cubie[class*=" row-1"][class*=" col-2"] {
  -webkit-transform: translateX(0) translateY(0) translateZ(-24.5px);
  -moz-transform: translateX(0) translateY(0) translateZ(-24.5px);
  -ms-transform: translateX(0) translateY(0) translateZ(-24.5px);
  -o-transform: translateX(0) translateY(0) translateZ(-24.5px);
  transform: translateX(0) translateY(0) translateZ(-24.5px);
}
/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-2"] .cubie[class*=" row-1"][class*=" col-3"] {
  -webkit-transform: translateX(24.5px) translateY(0) translateZ(-24.5px);
  -moz-transform: translateX(24.5px) translateY(0) translateZ(-24.5px);
  -ms-transform: translateX(24.5px) translateY(0) translateZ(-24.5px);
  -o-transform: translateX(24.5px) translateY(0) translateZ(-24.5px);
  transform: translateX(24.5px) translateY(0) translateZ(-24.5px);
}
/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-2"] .cubie[class*=" row-2"][class*=" col-1"] {
  -webkit-transform: translateX(-24.5px) translateY(0) translateZ(0);
  -moz-transform: translateX(-24.5px) translateY(0) translateZ(0);
  -ms-transform: translateX(-24.5px) translateY(0) translateZ(0);
  -o-transform: translateX(-24.5px) translateY(0) translateZ(0);
  transform: translateX(-24.5px) translateY(0) translateZ(0);
}
/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-2"] .cubie[class*=" row-2"][class*=" col-2"] {
  -webkit-transform: translateX(0) translateY(0) translateZ(0);
  -moz-transform: translateX(0) translateY(0) translateZ(0);
  -ms-transform: translateX(0) translateY(0) translateZ(0);
  -o-transform: translateX(0) translateY(0) translateZ(0);
  transform: translateX(0) translateY(0) translateZ(0);
}
/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-2"] .cubie[class*=" row-2"][class*=" col-3"] {
  -webkit-transform: translateX(24.5px) translateY(0) translateZ(0);
  -moz-transform: translateX(24.5px) translateY(0) translateZ(0);
  -ms-transform: translateX(24.5px) translateY(0) translateZ(0);
  -o-transform: translateX(24.5px) translateY(0) translateZ(0);
  transform: translateX(24.5px) translateY(0) translateZ(0);
}
/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-2"] .cubie[class*=" row-3"][class*=" col-1"] {
  -webkit-transform: translateX(-24.5px) translateY(0) translateZ(24.5px);
  -moz-transform: translateX(-24.5px) translateY(0) translateZ(24.5px);
  -ms-transform: translateX(-24.5px) translateY(0) translateZ(24.5px);
  -o-transform: translateX(-24.5px) translateY(0) translateZ(24.5px);
  transform: translateX(-24.5px) translateY(0) translateZ(24.5px);
}
/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-2"] .cubie[class*=" row-3"][class*=" col-2"] {
  -webkit-transform: translateX(0) translateY(0) translateZ(24.5px);
  -moz-transform: translateX(0) translateY(0) translateZ(24.5px);
  -ms-transform: translateX(0) translateY(0) translateZ(24.5px);
  -o-transform: translateX(0) translateY(0) translateZ(24.5px);
  transform: translateX(0) translateY(0) translateZ(24.5px);
}
/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-2"] .cubie[class*=" row-3"][class*=" col-3"] {
  -webkit-transform: translateX(24.5px) translateY(0) translateZ(24.5px);
  -moz-transform: translateX(24.5px) translateY(0) translateZ(24.5px);
  -ms-transform: translateX(24.5px) translateY(0) translateZ(24.5px);
  -o-transform: translateX(24.5px) translateY(0) translateZ(24.5px);
  transform: translateX(24.5px) translateY(0) translateZ(24.5px);
}

/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-3"] .cubie[class*=" row-1"][class*=" col-1"] {
  -webkit-transform: translateX(-24.5px) translateY(24.5px) translateZ(-24.5px);
  -moz-transform: translateX(-24.5px) translateY(24.5px) translateZ(-24.5px);
  -ms-transform: translateX(-24.5px) translateY(24.5px) translateZ(-24.5px);
  -o-transform: translateX(-24.5px) translateY(24.5px) translateZ(-24.5px);
  transform: translateX(-24.5px) translateY(24.5px) translateZ(-24.5px);
}
/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-3"] .cubie[class*=" row-1"][class*=" col-2"] {
  -webkit-transform: translateX(0) translateY(24.5px) translateZ(-24.5px);
  -moz-transform: translateX(0) translateY(24.5px) translateZ(-24.5px);
  -ms-transform: translateX(0) translateY(24.5px) translateZ(-24.5px);
  -o-transform: translateX(0) translateY(24.5px) translateZ(-24.5px);
  transform: translateX(0) translateY(24.5px) translateZ(-24.5px);
}
/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-3"] .cubie[class*=" row-1"][class*=" col-3"] {
  -webkit-transform: translateX(24.5px) translateY(24.5px) translateZ(-24.5px);
  -moz-transform: translateX(24.5px) translateY(24.5px) translateZ(-24.5px);
  -ms-transform: translateX(24.5px) translateY(24.5px) translateZ(-24.5px);
  -o-transform: translateX(24.5px) translateY(24.5px) translateZ(-24.5px);
  transform: translateX(24.5px) translateY(24.5px) translateZ(-24.5px);
}
/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-3"] .cubie[class*=" row-2"][class*=" col-1"] {
  -webkit-transform: translateX(-24.5px) translateY(24.5px) translateZ(0);
  -moz-transform: translateX(-24.5px) translateY(24.5px) translateZ(0);
  -ms-transform: translateX(-24.5px) translateY(24.5px) translateZ(0);
  -o-transform: translateX(-24.5px) translateY(24.5px) translateZ(0);
  transform: translateX(-24.5px) translateY(24.5px) translateZ(0);
}
/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-3"] .cubie[class*=" row-2"][class*=" col-2"] {
  -webkit-transform: translateX(0) translateY(24.5px) translateZ(0);
  -moz-transform: translateX(0) translateY(24.5px) translateZ(0);
  -ms-transform: translateX(0) translateY(24.5px) translateZ(0);
  -o-transform: translateX(0) translateY(24.5px) translateZ(0);
  transform: translateX(0) translateY(24.5px) translateZ(0);
}
/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-3"] .cubie[class*=" row-2"][class*=" col-3"] {
  -webkit-transform: translateX(24.5px) translateY(24.5px) translateZ(0);
  -moz-transform: translateX(24.5px) translateY(24.5px) translateZ(0);
  -ms-transform: translateX(24.5px) translateY(24.5px) translateZ(0);
  -o-transform: translateX(24.5px) translateY(24.5px) translateZ(0);
  transform: translateX(24.5px) translateY(24.5px) translateZ(0);
}
/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-3"] .cubie[class*=" row-3"][class*=" col-1"] {
  -webkit-transform: translateX(-24.5px) translateY(24.5px) translateZ(24.5px);
  -moz-transform: translateX(-24.5px) translateY(24.5px) translateZ(24.5px);
  -ms-transform: translateX(-24.5px) translateY(24.5px) translateZ(24.5px);
  -o-transform: translateX(-24.5px) translateY(24.5px) translateZ(24.5px);
  transform: translateX(-24.5px) translateY(24.5px) translateZ(24.5px);
}
/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-3"] .cubie[class*=" row-3"][class*=" col-2"] {
  -webkit-transform: translateX(0) translateY(24.5px) translateZ(24.5px);
  -moz-transform: translateX(0) translateY(24.5px) translateZ(24.5px);
  -ms-transform: translateX(0) translateY(24.5px) translateZ(24.5px);
  -o-transform: translateX(0) translateY(24.5px) translateZ(24.5px);
  transform: translateX(0) translateY(24.5px) translateZ(24.5px);
}
/* line 9, ../sass/modules/_cubie.scss */
div[class*=" section-3"] .cubie[class*=" row-3"][class*=" col-3"] {
  -webkit-transform: translateX(24.5px) translateY(24.5px) translateZ(24.5px);
  -moz-transform: translateX(24.5px) translateY(24.5px) translateZ(24.5px);
  -ms-transform: translateX(24.5px) translateY(24.5px) translateZ(24.5px);
  -o-transform: translateX(24.5px) translateY(24.5px) translateZ(24.5px);
  transform: translateX(24.5px) translateY(24.5px) translateZ(24.5px);
}

/* line 24, ../sass/modules/_cubie.scss */
.cubie .figure {
  width: 24.5px;
  height: 24.5px;
  display: block;
  position: absolute;
  border: 1px solid black;
  line-height: 24.5px;
  font-size: 16.33333px;
  font-weight: bold;
  color: white;
  text-align: center;
  opacity: 0.80;
  /* background-color */
  /* placement */
}
/* line 38, ../sass/modules/_cubie.scss */
.cubie .figure.orange {
  background-color: orange;
}
/* line 39, ../sass/modules/_cubie.scss */
.cubie .figure.green {
  background-color: green;
}
/* line 40, ../sass/modules/_cubie.scss */
.cubie .figure.red {
  background-color: red;
}
/* line 41, ../sass/modules/_cubie.scss */
.cubie .figure.yellow {
  background-color: yellow;
}
/* line 42, ../sass/modules/_cubie.scss */
.cubie .figure.white {
  background-color: white;
  color: #000;
}
/* line 43, ../sass/modules/_cubie.scss */
.cubie .figure.blue {
  background-color: blue;
}
/* line 46, ../sass/modules/_cubie.scss */
.cubie .figure.front {
  -webkit-transform: rotateY(0deg) translateZ(12.25px);
  -moz-transform: rotateY(0deg) translateZ(12.25px);
  -ms-transform: rotateY(0deg) translateZ(12.25px);
  -o-transform: rotateY(0deg) translateZ(12.25px);
  transform: rotateY(0deg) translateZ(12.25px);
}
/* line 47, ../sass/modules/_cubie.scss */
.cubie .figure.left {
  -webkit-transform: rotateY(-90deg) translateZ(12.25px);
  -moz-transform: rotateY(-90deg) translateZ(12.25px);
  -ms-transform: rotateY(-90deg) translateZ(12.25px);
  -o-transform: rotateY(-90deg) translateZ(12.25px);
  transform: rotateY(-90deg) translateZ(12.25px);
}
/* line 48, ../sass/modules/_cubie.scss */
.cubie .figure.back {
  -webkit-transform: rotateX(180deg) translateZ(12.25px);
  -moz-transform: rotateX(180deg) translateZ(12.25px);
  -ms-transform: rotateX(180deg) translateZ(12.25px);
  -o-transform: rotateX(180deg) translateZ(12.25px);
  transform: rotateX(180deg) translateZ(12.25px);
}
/* line 49, ../sass/modules/_cubie.scss */
.cubie .figure.right {
  -webkit-transform: rotateY(90deg) translateZ(12.25px);
  -moz-transform: rotateY(90deg) translateZ(12.25px);
  -ms-transform: rotateY(90deg) translateZ(12.25px);
  -o-transform: rotateY(90deg) translateZ(12.25px);
  transform: rotateY(90deg) translateZ(12.25px);
}
/* line 50, ../sass/modules/_cubie.scss */
.cubie .figure.top {
  -webkit-transform: rotateX(90deg) translateZ(12.25px);
  -moz-transform: rotateX(90deg) translateZ(12.25px);
  -ms-transform: rotateX(90deg) translateZ(12.25px);
  -o-transform: rotateX(90deg) translateZ(12.25px);
  transform: rotateX(90deg) translateZ(12.25px);
}
/* line 51, ../sass/modules/_cubie.scss */
.cubie .figure.bottom {
  -webkit-transform: rotateX(-90deg) translateZ(12.25px);
  -moz-transform: rotateX(-90deg) translateZ(12.25px);
  -ms-transform: rotateX(-90deg) translateZ(12.25px);
  -o-transform: rotateX(-90deg) translateZ(12.25px);
  transform: rotateX(-90deg) translateZ(12.25px);
}

/* line 10, ../sass/app.scss */
html {
  height: 100%;
}

/* line 14, ../sass/app.scss */
body {
  height: 100%;
  margin: 0;
  background-color: #93cede;
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, #93cede), color-stop(41%, #75bdd1), color-stop(100%, #49a5bf));
  background-image: -webkit-radial-gradient(center, ellipse cover, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  background-image: -moz-radial-gradient(center, ellipse cover, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  background-image: -o-radial-gradient(center, ellipse cover, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  background-image: radial-gradient(center, ellipse cover, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  text-align: center;
  font-size: 275%;
}

/* line 24, ../sass/app.scss */
.container {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 50px auto;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

/* line 33, ../sass/app.scss */
#cube,
.cubie {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 37, ../sass/app.scss */
#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 300px;
  -webkit-transform: rotateY(-15deg) rotateX(-15deg) translateZ(-100px);
  -moz-transform: rotateY(-15deg) rotateX(-15deg) translateZ(-100px);
  -ms-transform: rotateY(-15deg) rotateX(-15deg) translateZ(-100px);
  -o-transform: rotateY(-15deg) rotateX(-15deg) translateZ(-100px);
  transform: rotateY(-15deg) rotateX(-15deg) translateZ(-100px);
}
