$N: 3;
$cubie_dimension:48px;
$cubie_positions: (0, $cubie_dimension, 2*$cubie_dimension);
$side_translation: $cubie_dimension/2;
$section_translation: 3*$cubie_dimension;
$cube_translation: 6*$cubie_dimension;