@import "compass";
@import "compass/reset";

@import "primitives/measurements";
@import "primitives/colors";
@import "primitives/sides";
@import "primitives/delays";

@import "partials/rotations";
@import "partials/animations";

@import "modules/cube_interactive";

@import "modules/cubie";
@import "modules/cubie_interactive";


html {
  height: 100%;
}

body {
  height: 100%;
  margin:0;
  background-color: rgba(147,206,222,1);
  @include background-image(radial-gradient( center, ellipse cover, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%));

  text-align: center;
  font-size: 275%;
}

.interactive-container {
  position: relative;
  margin: 50px auto;
  width: ($N * $cubie_dimension);
  height: ($N * $cubie_dimension);
  @include perspective(3000);
  @include perspective-origin(-20);
}

.map-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $cubie_dimension;
  background-color: darken($white, 15%);
  border-top: solid 2px $black;
  overflow: scroll;
}

