@import "compass";
@import "compass/reset";

@import "primitives/measurements";
@import "primitives/colors";
@import "primitives/sides";
@import "primitives/delays";

@import "partials/rotations";

@import "modules/cubie";

html {
  height: 100%;
}

body {
  height: 100%;
  margin:0;
  background-color: rgba(147,206,222,1);
  @include background-image(radial-gradient( center, ellipse cover, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%));

  text-align: center;
  font-size: 275%;
}

.container {
  width: ($N * $cubie_dimension);
  height: ($N * $cubie_dimension);
  position: relative;
  margin: 50px auto;
  top: 100px;
  @include perspective(2000);
}

#cube,
.layer,
.section,
.cubie {
  @include transform-style();
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  @include transform-style();
  @include transition(transform $rotation_delay);
  @include backface-visibility(hidden);
  @include transform-origin(1.5*$cubie_dimension 1.5*$cubie_dimension 1.5*$cubie_dimension);
  @include transform(
    translateZ( -$cube_translation )
    rotateY(-35deg)
    rotateX(-20deg)
    rotateZ(15deg)
  );
  @include rotations(
    translateZ( -$cube_translation )
    rotateY(-35deg)
    rotateX(-20deg)
    rotateZ(15deg)
  )
}