<section class="game">
  <div class="game-board">
    <section class="interactive-container">
      {{cube-interactive cube=content cubies=content.cubies move="handleMove" rotate="handleRotation"}}
    </section>


    <section class="map-container">
     {{!-- {{cube-flat cube=content cubies=content.cubies}} --}}
    </section>
  </div>
  <div class="game-history">
    <section class="moves-container" style="height:100%;overflow:scroll;">
      <h2>Game History</h2>
      <ol>
        {{#each m in content.moves}}
          <li>
            {{move-detail move=m}}
          </li>
        {{/each}}
      </ol>
    </section>
  </div>
</section>