<section class="game">
  <div class="game-board">
    <section class="interactive-container">
      {{cube-interactive cube=content.cube.content cubies=content.cube.cubies move="handleMove" rotate="handleRotation"}}
    </section>

    <section class="map-container">
     {{cube-flat cube=content.cube cubies=content.cube.cubies}}
    </section>
  </div>
  <div class="game-history">
    <section class="moves-container" style="height:100%;overflow:scroll;">
      <h2>Game History</h2>
      <ol>
        {{#each m in content.cube.moves.content}}
          <li>
            {{move-detail move=m}}
          </li>
        {{/each}}
      </ol>
    </section>
  </div>
</section>