{{#each}}
<section class="container">
  <table id="cube">
  <col />
  <col />
  <col />
  {{#each layer in layers}}
    <tr>
    {{#each section in layer.sections}}
      <td>
      {{cube-section section=section}}
      </td>
    {{/each}}
    </tr>
  {{/each}}
  </table>
</section>
{{/each}}