<section class="interactive-container">
  {{cube-interactive cube=content move="handleMove" rotate="handleRotation"}}
</section>

<section class="map-container">
	{{cube-flat cube=content}}
</section>