{{#each}}
<section class="container">
  <div id="cube" {{action 'changeSelection' this}}>
  {{#each layer in layers}}
    <div class="layer">
    {{#each section in layer.sections}}
      <div class="section">
        {{cube-section section=section}}
      </div>
    {{/each}}
    </div>
  {{/each}}
  </table>
</section>
{{/each}}