<section class="interactive-container">
  {{interactive-cube cube=content move="handleMove" rotate="handleRotation"}}
</section>

<section class="map-container">
	{{flat-cube cube=content}}
</section>