<section class="game">
  <div class="game-board">
    <section class="interactive-container">
      {{cube-interactive cube=content move="handleMove" rotate="handleRotation"}}
    </section>

    <section class="map-container">
    	{{cube-flat cube=content}}
    </section>
  </div>
  <div class="game-history">
    <section class="moves-container">
      <h2>Game History</h2>
      <ol>
        {{#each move in moves}}
          <li>{{move}}<li>
        {{/each}}
      </ol>
    </section>
  </div>
</section>